* text=auto eol=lf

# Denote all files that are truly binary and should not be modified
*.bin binary
*.exe binary
*.dll binary
*.so binary
*.dylib binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary
*.pdf binary
*.zip binary
*.tar.gz binary
*.rar binary
*.7z binary
*.iso binary
*.dmg binary

