.button {
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
}

.button:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

* {
  user-select: none;
}
